<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bossondesign.hapman">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bossondesign.hapman.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bossondesign.hapman.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_density"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bossondesign.hapman.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_about"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.ContactActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_contact"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.QuoteActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_quote"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.RepActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_rep"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.HomeActivity"
            android:label="@string/title_activity_home"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.AboutAppActivity"
            android:label="@string/title_activity_about_guide"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name="com.bossondesign.hapman.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:noHistory="true"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="@string/title_activity_demo"
            android:parentActivityName="com.bossondesign.hapman.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bossondesign.hapman.MainActivity" />
        </activity>
    </application>

</manifest>